.grid-item {
    $this: &;

    width: 320px;
    /*IE min-height fix*/
    display: flex;
    flex-direction: column;

    &__card {
        margin-bottom: 16px;
    }

    &__description {
        color: #fff;
        font-size: 13px;

        &--default {
            display: block;
        }

        &--selected {
            display: none;
        }

        &--disabled {
            display: none;
            color: #ffff66;
        }
    }

    &__link {
        color: $blue;
        text-decoration: underline dashed;
        cursor: pointer;
        &:hover {
            color: $light-blue;
        }
    }

    &--selected {
        #{$this}__description {
            &--default {
                display: none;
            }

            &--selected {
                display: block;
            }
        }
    }

    &--disabled {
        #{$this}__description {
            &--default {
                display: none;
            }

            &--selected {
                display: none;
            }

            &--disabled {
                display: block;
            }
        }
    }
}

