.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $trebuchet;

    &__item {
        margin: 0 0 20px;
    }

    @media (min-width: 414px) {
        &__item {
            margin: 0 40px 20px;
        }
    }
}
