<div class="product-grid {{class}}">
    {{#each items}}
        <div class="product-grid__item js-item">
            {{> card product=this class="product-grid__item-card"}}
            <div class="product-grid__item-description">
                <p class="product-grid__item-description--default">Чего сидишь? Порадуй котэ, <a class="product-grid__item-link js-link" href="#">купи.</a>
                </p>
                <p class="product-grid__item-description--selected">{{this.description}}</p>
                <p class="product-grid__item-description--disabled">Печалька, {{this.variant}} закончился.</p>
            </div>
        </div>
    {{/each}}
</div>
